@import "../styles/_buttons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply border border-black bg-white shadow p-3;
}

.w-page {
    @apply max-w-[800px];
}

.prose {
    ul > li::before {
        background: black;
    }

    blockquote {
        border-left-color: #CBCBCB;
    }

    pre {
        @apply rounded-none;
    }
}

label {
    @apply text-base;

    input {
        @apply text-base bg-white border-2 border-black px-3 py-2 w-full block ;
    }

    textarea:disabled, input:disabled, select:disabled {
        @apply bg-light-gray text-dark-gray cursor-not-allowed;
    }
}

textarea:focus-visible, input:focus-visible, select:focus-visible {
    outline: theme('colors.red') solid 2px;
    outline-offset: 3px;
}

textarea:disabled, input:disabled, select:disabled {
    @apply bg-gray cursor-not-allowed;
}

.skeleton {
    background-image: linear-gradient(to right, #f6f7f8 10%, #dddddd 20%, #f6f7f8 20%, #f6f7f8 25%);
    background-size: 1000px 100%;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}

@keyframes shimmer {
    from {
        background-position: -1000px;
    }

    to {
        background-position: 0;
    }
}

dialog {
    width: min(500px, calc(100vw - 2rem));
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.25rem);
}